body{
    font-size: 50px;
    padding: 0rem;
    margin: 0rem;
    background-color: bisque;
    color : white
}

.About{
    background-color:  red;
}
.Home{
    background-color: black;
    color:  white;
}
.Footer{
    background-color: rgba(245, 245, 220, 0.693);
    color: white;
}
.Image{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.margin {
    margin-top: 20px;
}